<a href="https://colab.research.google.com/github/mohammadabdulraouf786/dataanalysis_withpython/blob/main/DA_DAY1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print("Iam",a,"years old")

Iam 5 years old

Operators

In [ ]:
#ARTHIMETIC
a=10
b=20
print(a+b)

30

In [ ]:
#POWER
print(2**5)

32

In [ ]:
#FLOOR DIVISION
print(25//2)

12

In [ ]:
#RELATION
a=10
b=10
print(a==b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a!=b)

True
False
False
True
True
False

In [ ]:
#logical
a=9
b=25
print((a>b)and(a<b))

False

In [ ]:
print((a>b)or(a<b))

True

In [ ]:
#membership
a="one piece"
print("o"in a)
print("a"not in a)

True
True

control flow

In [ ]:
#write program to get a number frome the user and check the number is positive or negative
a=int(input("enter a value:"))
if(a<0):
  print("negative number")
if(a>0):
  print("positive number")
if(a==0):
  print("either positive nor negative")

enter a value:0
either positive nor negative

In [ ]:
#elseif ladder
a=int(input("enter a value:"))
if(a<0):
  print("negative number")
elif(a>0):
  print("positive number")
else:
  print("either positive nor negative")

enter a value:0
either positive nor negative

lopping statements

In [ ]:
#print 6 table
a=6
for i in range(1,11,1):
  n=a*i
  print(n)

6
12
18
24
30
36
42
48
54
60

In [ ]:
#print any table
a=int(input("enter any value"))
for i in range(1,11,1):
  n=a*i
  print(n)

enter any value5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#type casting
a=25.5#float
b=6#int
print(a*b)#implicit type casting

153.0

In [ ]:
#type casting
a=25.5#float
b=6#int
print(int(a*b))#explicit type casting

153

In [ ]:
a="45"
a=int(a)
print(type(a))

<class 'int'>

data slicing

In [ ]:
a="python is easy"
print(a[0:6])

python

In [ ]:
print(a[::-1])

ysae si nohtyp

In [ ]:
print(a[::2])

pto ses

In [ ]:
#while loop
a=int(input("enter a value"))
i=1
while(i<=10):
  print(a*i)
  i=i+1

enter a value2
2
4
6
8
10
12
14
16
18
20

collection:
* list is a collection of elements
* hetergenous
* mutable(modifiable)

In [ ]:
#creating a list
a=["one",90,"peice",8.8,44]
print(a)

['one', 90, 'peice', 8.8, 44]

In [ ]:
for i in a:
  print(i)

one
90
peice
8.8
44

In [ ]:
#append keword
a.append("DB")
print(a)

['one', 90, 'peice', 8.8, 44, 'DB', 'DB', 'DB', 'DB']

In [ ]:
#insert keyword
a.insert(3,"hi")
print(a)

['one', 90, 'peice', 'hi', 8.8, 44, 'DB', 'DB', 'DB', 'DB']

In [ ]:
#extend keyword
a=[10,"LUFFY"]
b=[20,30,"DB","ZORO"]
a.extend(b)
print(a)

[10, 'LUFFY', 20, 30, 'DB', 'ZORO']

In [ ]:
#pop keyword
a.pop(2)
print(a)

[10, 'LUFFY', 'DB', 'ZORO']

In [ ]:
#remove keyword
a.remove(10)
print(a)

['LUFFY', 'DB', 'ZORO']

In [ ]:
a=["GOKU",10,20,"ITACHI"]
print(max(a))

In [ ]:
#max keyword
a=[10,20,30,40]
print(max(a))

40

list comperhension


*   itrations
*   applies sone function on every elements
*conditons
-output:list

In [ ]:
l1=[10,20,30,40]
l2=[i**2 for i in l1]#output iteration condition
print(l2)

[100, 400, 900, 1600]

In [ ]:
l1=[45,67,89,90]
l2=[i**2 for i in l1 if i>50]#output iteration condition
print(l2)

[4489, 7921, 8100]

In [ ]:
#the salary of 5 empolyees in a comapany is taken as list the tax is 10% the salary is less than equal to 50k or it is 15% create a new list with tax ammount
#[67000,45000,89000,34000,50000]
a=[67000,45000,89000,34000,50000]
tax=[]
for i in a:
  if(i<=50000):
    t=i*0.1
    tax.append(t)
  else:
    t=i*0.15
    tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#listname=[(body of if) if(condition)else(body of else)iterate]
a=[67000,45000,89000,34000,50000]
tax=[i*0.1 if i<=50000 else i*0.15 for i in a]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]